* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body *{
    height:100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.top_head{
    height: 11.73333vw;
    line-height: 11.73333vw;
    /* padding: 0 3.2vw 0 4.8vw; */
    font-size: 0;
    background: #fa7298;
}

.face{
    float: left;
    vertical-align: top;
    width: 15vw;
    height: 11.6vw;
    display: inline-block;
}

.bfs-img{
    margin-top: 4px;
    margin-left: 10px;
    height: 80%;
    width: 65%;
    border-radius:50px;
}

.search-box{
    float: left;
    margin-right: 52px;
    margin-top: 7px;
    height: 84%;
    width: 68%;
    position: relative;
}

.search-icon{
    float: inherit;
    margin-left: 20px;
    position: relative;
    width: 7%;
    height: 50%;
    top: 8px;
    background: url(img/magnifier.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.header-search-input{
    margin-left: 10px;
    margin-top: 3px;
    background: url(img/search.png) 0 0 no-repeat;
    background-size: 100% 70%;
}

.search_input{
    float: left;
    width: 83%;
    height: 58%;
    margin-top: 3px;
    margin-left: 7px;
    border: 0;
    background-color: #ee6c92;
    outline: none;
}

.msg{
    float: left;
    margin-left: 90%;
    margin-top: -37px;
    width: 7%;
    height: 50%;
    background: url(img/msg.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.switcher_header{
    /* background: red; 
    display: flex; */

    height: 10.66667vw;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
}

.v-switcher_header{
    height: 100%;
    overflow: hidden;
    position: relative;
    color: #fb7299;
}

.v-switcher_header_a{
    height: 10.66667vw;
    line-height: 10.66667vw;
    display: inline-block;
    text-align: center;
    font-size: 3.73333vw;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 4.26667vw;
    color: #505050;
}

.v-switcher_header_a_select {
    color: inherit!important;
}

article{
    background: #eaeaea;
    width:100%;
    height:100%;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #eee;
    z-index: 9999;
}

.container{
    padding-bottom: 2.85714286rem !important;
}