* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body{
    overflow: hidden;
}

body *,head{
    height:100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav{
    position: sticky;
    top: 5.9%;
    width: 100%;
    background: #fff;
    z-index: 100;
}

.top_head{
    height: 11.73333vw;
    line-height: 11.73333vw;
    font-size: 0;
    background: #fa7298;
}

.face{
    float: left;
    vertical-align: top;
    width: 15vw;
    height: 11.6vw;
    display: inline-block;
}

.bfs-img{
    margin-top: 4px;
    margin-left: 10px;
    height: 80%;
    width: 65%;
    border-radius:50px;
}

.search-box{
    float: left;
    margin-right: 52px;
    margin-top: 7px;
    height: 84%;
    width: 68%;
    position: relative;
}

.search-icon{
    float: inherit;
    margin-left: 20px;
    position: relative;
    width: 7%;
    height: 50%;
    top: 8px;
    background: url(img/magnifier.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.header-search-input{
    margin-left: 10px;
    margin-top: 3px;
    background: url(img/search.png) 0 0 no-repeat;
    background-size: 100% 70%;
}

.search_input{
    float: left;
    width: 83%;
    height: 58%;
    margin-top: 3px;
    margin-left: 7px;
    border: 0;
    background-color: #ee6c92;
    outline: none;
}

.msg{
    float: left;
    margin-left: 90%;
    margin-top: -9%;
    width: 7%;
    height: 50%;
    background: url(img/msg.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.switcher_header{
    height: 10.66667vw;
    position: relative;
    box-sizing: border-box;
    display: -webkit-inline-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    border-bottom:1px solid #f3f3f3
}

.v-switcher_header{
    height: 100%;
    overflow: hidden;
    position: relative;
    color: #fb7299;
}

.v-switcher_header_a{
    height: 10.66667vw;
    line-height: 10.66667vw;
    display: inline-block;
    text-align: center;
    font-size: 3.73333vw;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 4vw;
    color: #505050;
    text-decoration:none;
}

.v-switcher_header_a_select {
    color: inherit!important;
}

.v-switcher_header_anchor{
    width: 12%;
    transition-duration: 300ms;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: .53333vw;
    border-radius: .53333vw;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-property: width,height,transform;
    pointer-events: none;
    background: currentColor;
}

.v-switcher_header_anchor_1{
    transform: translateX(12%);
}

.v-switcher_header_anchor_2{
    transform: translateX(155%);
}

.v-switcher_header_anchor_3{
    transform: translateX(295%);
}

.v-switcher_header_anchor_4{
    transform: translateX(435%);
}

.v-switcher_header_anchor_5{
    transform: translateX(575%);
}

.v-switcher_header_anchor_6{
    transform: translateX(722%);
}


.main{
    display: inline-block;
    margin: 0;
    height: 680px;
    /* overflow: hidden; */
}

.main::-webkit-scrollbar{
    display: none;
}

.main{
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.v-swipe__item img{
    width: 100%;
    height: 100%;
}

.v-swipe__wrap{
    display: -webkit-inline-box;
    height: 16%;
    margin-top: 2.66667vw;
    padding: 0 2.66667vw;
}

.ad_icon{
    float: left;
    margin-left: 20px;
    position: relative;
    top: -95%;
    left: 80%;
    width: 12%;
    height: 22%;
    background: url(img/adico.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.ad_tips{
    float: left;
    position: relative;
    top: -55%;
    width: 100%;
    height: 30%;
    background-color: rgba(0,0,0,0.5);
}

.ad_tips p{
    color: #fff;
    margin-top: 1.4%;
    margin-left: 5%;
}

.card-box{
    margin-top: 10px;
    height: 82%;
}

.box_item_left{
    float: left;
    width: 47.5%;
    height: 30%;
    margin-left: 2%;
    margin-bottom: 1.5%;
    background: url(img/bottom.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.box_item_right{
    float: right;
    width: 47.5%;
    height: 30%;
    margin-right: 2%;
    margin-bottom: 1.5%;
    background: url(img/bottom.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.box_item_left img{
    margin-left: 1%;
    width: 98%;
    height: 70%;
    border-radius: 5px;
}

.box_item_right img{
    width: 99%;
    height: 70%;
    border-radius: 5px;
}

.video_icon{
    float: left;
    position: relative;
    top: -20%;
    left: 1%;
    width: 98%;
    height: 18%;
    background: linear-gradient(0deg,rgba(0,0,0,.85),transparent);
    border-radius: 5px;
}

.video_icon_right{
    left: 0%;
}

.play_icon{
    display: -webkit-inline-box;
    width: 13%;
    height: 60%;
    margin-left: 4%;
    margin-top: 3%;
    background: url(img/play.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.card-box p{
    width: 94%;
    height: 27%;
    margin-left: 3%;
    position: relative;
    top: -19%;
}

.video_icon span span{
    position: relative;
    top: -10%;
    font-size: 14px;
    color: #fff;
}


article{
    background: #eaeaea;
    width:100%;
    height:100%;
}

footer{
    position: sticky;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 9999;
    border-top:1px solid #f3f3f3
}

.home_icon{
    display: -webkit-inline-box;
    width: 59%;
    height: 53%;
    margin-left: 4%;
    margin-top: 6%;
    background: url(img/home.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.my_icon{
    display: -webkit-inline-box;
    width: 59%;
    height: 53%;
    margin-left: 4%;
    margin-top: 6%;
    background: url(img/my.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.buttom-item{
    float: left;
    margin-left: 10.9%;
    width: 12%;
    height: 100%;
}

.buttom-item a{
    text-decoration: none;
    color: inherit!important;
}

.select-icon{
    position: relative;
    top: -11%;
    left: 2.1%;
    font-size: 15px;
    color: #929292;
}

.select{
    color: #fb7299;
}

.hide{
    display: none;
}